<div id="about">
    <!-- about -->
  <div class="about">
    <div class="heading-1">ABOUT</div>
  </div>
  <!-- Introduction -->
  <div class="who">
    <!-- about me -->
    <div class="info">
        <div class="name">
            <img class="name-img" src="../../assets/img/name.jpg" alt="">
        </div>
        <div class="personal">
            <p class="me">Hi, I'm <b>A developer</b>, I am a full stack developer</p>
        </div>
    </div>
    <!-- Skills -->
    <div class="skills">
        <div class="skills-about">
            <div class="heading-2">SKILLS</div>
        </div>
        <div class="progress-bar">
            <div class="bar" style="width:75%"><div class="skills-name">HTML</div></div>
          </div>
          <div class="progress-bar">
            <div class="bar" style="width:75%"><div class="skills-name">CSS</div></div>
          </div>
          <div class="progress-bar">
            <div class="bar" style="width:90%"><div class="skills-name">JAVASCRIPT</div></div>
          </div>
          <div class="progress-bar">
            <div class="bar" style="width:85%"><div class="skills-name">NODE JS</div></div>
          </div>
          <div class="progress-bar">
            <div class="bar" style="width:70%"><div class="skills-name">ANGULAR</div></div>
          </div>
          <div class="progress-bar">
            <div class="bar" style="width:85%"><div class="skills-name">EXPRESS JS</div></div>
          </div>
          <div class="progress-bar">
            <div class="bar" style="width:70%"><div class="skills-name">MONGODB</div></div>
          </div>
          <div class="progress-bar">
            <div class="bar" style="width:70%"><div class="skills-name">REACT JS</div></div>
          </div>
    </div>
  </div>
</div>
