<div class="services">
    <div class="service-container">
        <h1>Project One</h1>
        <img src="../../assets/img/code-1.png" alt="">
    </div>
        <div class="service-content">
                <span>Lorem ipsum dolor sit amet, no salutatus elaboraret has, et dicit integre electram quo. Ei  tota inani. Simul numquam definiebas pri ut, erat ipsum utamur ex nec, cu quo ponderum percipitur. Te sanctus maluisset sit. Nec malis omnesque similique ei, at libris noluisse persecuti vix, cibo reprimique in mei.
    
                    Ex sit persius epicurei. Eruditi equidem id his, viris instructior id duo. Sed at populo utamur mediocritatem, velit assum tollit mei an. Apeirian praesent gloriatur vel id, sit ex amet dissentiet, an harum assueverit vituperatoribus eam. Malis mandamus at vix, aperiam consetetur comprehensam vim cu, errem vidisse sed ei. Nostrud luptatum quaerendum eam ad, mei cu autem facilisis vulputate, an natum aliquip deterruisset sea.
                    
                    Pri vide libris legendos an, cu tota oratio dolore mei. Usu ex docendi accusamus neglegentur. Mundi choro populo nam ut, eos ut utinam honestatis voluptatibus. Iracundia interesset complectitur cum ei, omittam maluisset usu no. Mel vocent consectetuer no. Evertitur argumentum necessitatibus qui ea, est et amet delenit. Ut sit fabellas accusata, eu sed vero debet disputando.
                    
                    Sea velit iudicabit efficiantur in, nonumy doctus has et. Mea paulo semper atomorum ei. Mei ei viris dolor senserit, possim gloriatur signiferumque ius ei, qui id accusam maiestatis. Minim doming conclusionemque ut ius. Pri cibo modus mediocritatem in, dolorum sensibus pro at. Has ne simul nobis nostrum.
                    
                    Dicit facilisi eu mei, mea porro omnesque definiebas an. Cu fugit mundi corpora has. Etiam comprehensam has eu. Sed quis duis no. Id erroribus definiebas philosophia est, quis instructior signiferumque id vel, nec ea cibo denique mediocritatem. Ius at assum inani, duis velit minimum sed ei.vim</span>
        </div>
</div>