<div id="blog">
    <div class="heading-4">BLOGS</div>
    <div class="blogs">
        <div class="container-blog">
            <div class="card-blog">
                <div class="image">
                    <img src="../../assets/img/angular.png" class="logo" alt="">
                </div>
                <div class="content-blog">
                    <h2 class="heading-blog">Nested Routing</h2>
                    <p class="blog-para">
                        This is the nested routing by using three different components.<br> Every component is used for different things. By using this method we can<br> easily create nested routing and easily understand the working of that routing.
                    </p>
                    <a href="#"> <span>Read More</span> </a>
                </div>
            </div>
        </div>
    </div>
</div>
